.task
bin
/copyd
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/linux/copyd.desktop
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

CLAUDE.md
.claude-docs
.claude
docs/superpowers/